.section {
    
    &--white,
    &--grey,
    &--blue,
    &--transparent {
        padding: $gutter-section-start 0 $gutter-section-end 0;
        @include respond(tab-land) {
            padding: 3.5rem 0 8rem 0;
        }
        @include respond(tab-port) {
            padding: 3rem 0 6rem 0;
        }
        position: relative;
    }

    &--white {
        background-color: $color-white;
    }

    &--grey {
        background-color: $color-grey-light;
    }

    &--blue {
        background-color: $color-primary-dark;
    }

}

.section-numbers {
    background-image: $gradient-main;
    padding: 1rem 25rem;
    display: flex;
    justify-content: space-between;
}

.section-about {
    height: 100%;
}

.section-rooms {
    padding-left: 28rem;
    padding-right: 28rem;
}

.section-transport {
    background-image: linear-gradient(rgba($color-black, 0.4), rgba($color-black, 0.5)), linear-gradient(to right, rgba($color-primary, 0.6), rgba($color-primary-light, 0.6)), url(../img/transport-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 40rem;
    color: $color-white;
}