.arrow-down {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: $color-primary;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.85;
    }

    &--white {
        color: $color-white;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}