.box-links {
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 120rem;
    background-color: #eee;
    height: 50rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
    
    @include respond(tab-port) {
        height: auto;
    }

    &__link {
        display: inline-block;
        //background-color: $color-primary;
        //&:nth-child(even) {background-color: $color-primary-light;}
        background-color: $color-black;
        background-image: linear-gradient(to left, rgba($color-primary, 0.75), rgba($color-primary-light, 0.75));
        height: 100%;
        position: relative;
        cursor: pointer;
        transition: all 0.2s;

        @include respond(tab-port) {
            display: block;
            height: 20rem;
            width: 100%;
            margin: 0;
            overflow: hidden;
        }

        @include respond(phone) { 
            height: 12rem;
         }
    }

    &__link-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5rem 2rem;
        background-image: $gradient-main;
        color: $color-white;
        text-shadow: $text-shadow-main;
        font-size: 3rem;

        @include respond(phone) { 
            font-size: 2.6rem;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    &__bg-img {
        height: 100%;
        opacity: 0.65;
        transition: opacity 0.2s;

        @include respond(tab-port) {
            width: 100%;
            height: auto;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__link:hover &__bg-img {
        opacity: 1;
    }

    // &__link:hover ~ &__link:not(:hover) > &__bg-img{
    //     opacity: 0.5;
    // }
}