.items-carousel__wrapper {
    width: 90%;
    max-width: 130rem;
    margin: 0 auto;
}

.chevron {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: $color-white;
    position: relative;
    
    &__pointer {
        color: $color-grey;
        font-size: 2.6rem;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);;
    }

    user-select: none;
}

.photo-carousel {
    &__card {
        height: 40rem;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        transition: transform 0.9s;
        &:hover {
            transform: scale(1.2);
        }
    }

    &__wrapper {
        overflow: visible;
    }

    &__item-wrapper {
        
        
    }
}