.room-card {
    height: 52rem;
    background-color: $color-white;
    outline: none;
    border: none;
    box-shadow: 0 0.4rem 0.8rem rgba($color-black, 0.1);
    transition: all 0.2s;

    &:hover {
        box-shadow: 0 0.5rem 0.6rem rgba($color-black, 0.35); 
    }

    &__img-box {
        display: block;
        height: 45%;
        overflow: hidden;
        position: relative;
    }

    &__img {
        height: 100%;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2);
            transition: transform 1.8s;
        }
    }

    

    &__info-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        max-width: 45rem;
    }

    &__hotel {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        background-color: $color-primary-light;
        color: $color-white;
        text-align: center;
        font-weight: 500;
    }

    &__price {
        display: block;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
        font-weight: 500;
    }

    &__details {
        display: block;
        height: 8%;
        background-color: $color-primary-light;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 300;
    }

    &__bed {
        height: 100%;
        padding-top: 0.8rem;
        display: inline-block;
        width: 50%;
        text-align: center;
        border-right: 1px solid $color-white;
    }

    &__icon {
        font-size: 2.2rem;
        margin-bottom: -0.5rem;
        margin-right: 1rem;
    }

    &__people-num {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-top: 0.8rem;
    }

    &__text-box {
        height: 38%;
        overflow: hidden;
        padding: 1.5rem 2.5rem;
    }

    &__title {
        font-size: 2.4rem;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: $color-primary-light;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    &__sub-title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: $color-primary;
        margin-bottom: 0.8rem;
    }

    &__desc {
        font-size: 1.3rem;
        color: $color-grey-medium;
        text-align: center;
        line-height: 1.7rem;
    }

    &__btn {
        &:link,
        &:visited {
            height: 9%;
            display: block;
            padding: 0.8rem;
            text-align: center;
            background-color: $color-primary-light;
            font-size: 1.6rem;
            text-decoration: none;
            color: white;
            font-weight: 500;
            transition: all 0.2s;
        }

        &:hover {
            background-color: $color-primary;
        }
    }

    
}
