.toolbar {
    width: 100%;
    position: fixed;
    left: 0;
    top: 1.4rem;
    background-image: $gradient-main;
    padding: 0.5rem 18rem;
    color: $color-white;
    z-index: 990;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;

    &--sticked {
        transform: translateY(-1.4rem);
        box-shadow: 0 0.2rem 1.5rem rgba($color-black, 0.2);
    }

    &__logo {
        font-size: 2.8rem;
        text-shadow: $text-shadow-main;
        font-weight: 500;
        letter-spacing: 0.5px;
        color: inherit;
    }

    &__logo-icon {
        margin-bottom: -0.4rem;
        text-shadow: $text-shadow-main;
    }

    &__navigation {

    }

    &__navigation-list {
        
    }

    &__navigation-item {
        display: inline-block;
        padding: 0 2rem;
        margin: 0.6rem 0;
        text-shadow: $text-shadow-main;
        position: relative;
        cursor: pointer;
        color: $color-white;

        &:not(:last-child):after {
            content: "";
            display: block;
            width: 1px;
            height: 2rem;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: $color-white;
        }

        &:before {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: $color-white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.2s;
        }

        &:hover {
            &:before {
                width: 70%;
            }
        }
    }
}