.btn {
    &,
    &:link,
    &:visited {
        background-image: $gradient-main;
        text-decoration: none;
        padding: 1rem 4rem;
        color: $color-white;
        border-radius: 5rem;
        text-shadow: $text-shadow-main;
        outline: none;
        font: inherit;
        border: none;
        cursor: pointer;
        
    }

    &--full {
        width: 30rem;
        font-size: 2rem;
        
    }

    &--centered {
        margin: 3rem auto 4rem auto;
        display: block;
    }
}