.checkbox {
    display: block;
    position: relative;
    padding-left: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    user-select: none;

    &__input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    /* Create a custom checkbox */
    &__checkmark {
        position: absolute;
        top: 0.2rem;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border: 3px solid $color-primary;
        background-color: transparent;
        
    }

    /* On mouse-over, add a grey background color */
    &:hover &__input ~ &__checkmark {
       &:after {
           opacity: 0.08;
           transform: scale(4.2) translate(-12%, -12%);
       }
    }

    /* Show the checkmark when checked */
    &__input:checked ~ &__checkmark {
        &:after {
            opacity: 0;
            transform: translate(-50%, -50%);
        }

        &:before { 
            opacity: 1;
        }
    }

    /* Style the checkmark/indicator */
    &__checkmark:after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $color-primary;
        transform: translate(-50%, -50%);
        transition: all 0.15s;
    }

    &__checkmark:before {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-primary;
        transform: translate(-50%, -50%);
        transition: all 0.15s;
    }

    &__label {
        font-weight: 300;
        text-transform: lowercase;
    }
}
