.checkbox {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    user-select: none;

    &__input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    /* Create a custom checkbox */
    &__checkmark {
        position: absolute;
        top: 0.4rem;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid $color-primary;
        background-color: transparent;
    }

    /* On mouse-over, add a grey background color */
    &:hover &__input ~ &__checkmark {
        &:after {
            opacity: 0.07;
            transform: scale(1) translate(-50%, -50%);
        }
    }

    /* Show the checkmark when checked */
    &__input:checked ~ &__checkmark {
        &:after {
            opacity: 0;
            transform: translate(-50%, -50%);
        }

        &:before {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    /* Style the checkmark/indicator */
    &__checkmark:after {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $color-primary-light;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.15s;
    }

    &__checkmark:before {
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-primary;
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.15s;
    }

    &__label {
        font-weight: 300;
        //text-transform: lowercase;
        padding-left: 4rem;
        color: $color-primary-dark;
        font-size: 1.7rem;
    }

    &--black &__checkmark {
        border: 2px solid $color-grey;
        &:after,
        &:before {
            background-color: $color-grey;
        }
    }

    &--black &__label {
        color: $color-grey;
    }
}
