.reservations {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-color: rgba($color-white, 1);
    max-width: 110rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    overflow: hidden;

    &__title {
        display: block;
        text-align: center;
        background-color: $color-primary-light;
        background-image: $gradient-main;
        color: $color-white;
        padding: 0.5rem;
        font-size: 3rem;
        border-radius: 5px;
    }

    &__sub-title {
        color: $color-grey;
        font-weight: 400;
        margin: 2rem auto 1rem auto;
        text-align: center;
        font-size: 2rem;
    }

    &__steps {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: $color-white;
    }

    &__step {
        text-decoration: none;
        width: 25%;
        text-align: center;
        padding: 1rem 1rem;
        border: none;
        font: inherit;
        outline: none;
        cursor: pointer;
        text-transform: capitalize;
        font-size: 1.8rem;
        font-weight: 300;
        background-color: $color-grey-light;
        color: $color-grey-medium-2;
        position: relative;

        &--active {
            color: $color-grey-dark;
            background-color: rgba($color-primary-light, 0.12);
            
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $color-primary;
            }
        }
    }

    &__form-wrapper {
        width: 72%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

}
